<ion-header [translucent]="true" collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="cancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small">
      New Room
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="createChatRoom()">
        Create
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="ion-margin-bottom">
    <ion-item>
      <ion-label position="floating">Chat Name (Optional)</ion-label>
      <ion-input clearInput [(ngModel)]="chatName"></ion-input>
    </ion-item>
    <div *ngIf="error" class="errors">
      <span>You forgot to add someone to chat with!</span>
    </div>
  </div>

  <ion-list>
    <ion-item *ngFor="let user of users; let i = index">
      <ion-avatar slot="start">
        <img *ngIf="user.photoURL; else icon" [src]="user.photoURL" alt="The user's image" referrerpolicy="no-referrer">
        <ng-template #icon>
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        </ng-template>
      </ion-avatar>
      <ion-label>{{ user.displayName | titlecase}}</ion-label>
      <ion-radio-group allowEmptySelection="true" (ionChange)="addUser($event, user)">
        <ion-radio slot="end" value="true"></ion-radio>
      </ion-radio-group>
    </ion-item>
  </ion-list>

</ion-content>
