.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-btn {
  margin-top: 25px;
}

.bottom-btn {
  text-align: center;
}
