<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sup Chat {{ btnText }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bottom-btn">
  <form [formGroup]="loginForm" class="input-group">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder="example@gmail.com" formControlName="email" autofocus="true" clearInput="true"
        type="email"></ion-input>
    </ion-item>
    <div *ngIf="email.touched && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input placeholder="aReallyToughPassword" type="password" formControlName="password" clearInput="true">
      </ion-input>
    </ion-item>
    <div *ngIf="password.touched && password.errors" class="errors">
      <span *ngIf="password.errors?.required">Password is required</span>
      <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
    </div>

    <div *ngIf="needsToSignUp">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input placeholder="John" type="text" formControlName="firstName" clearInput="true">
        </ion-input>
      </ion-item>
      <div *ngIf="firstName.touched && firstName.errors" class="errors">
        <span>First name is required</span>
      </div>
    </div>

    <div *ngIf="needsToSignUp">
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input placeholder="Smith" type="text" formControlName="lastName" clearInput="true">
        </ion-input>
      </ion-item>
      <div *ngIf="lastName.touched && lastName.errors" class="errors">
        <span>Last name is required</span>
      </div>
    </div>
  </form>

  <ion-button (click)="onSubmit()" expand="block" class="top-btn">{{ btnText }}</ion-button>
  <ion-button fill="clear" (click)="loginOrSignUp()">{{ signUpOrLoginText }}</ion-button>

  <ion-button type="button" expand="block" color="tertiary" (click)="signInWithGoogle()">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Sign in with Google
  </ion-button>
</ion-content>
